@import url('./__container/popup__container.css');
@import url('./__title/popup__title.css');


.popup {
    z-index: 1;
    background-color: rgb(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

