.button {
    -webkit-transition: opacity ease-in-out .2s;
    -o-transition: opacity ease-in-out .2s;
    transition: opacity ease-in-out .2s;
    cursor: pointer;
}

.button:hover {
    opacity: .6;
}